In [74]:
#1)wap to print "hello world" in shell
print("hello world")

hello world

In [75]:
#2)wap to print "hello world".
print("hello")

hello

In [76]:
#3)wap to initialize multivariables and assigning multivalues corresponding to 150,120,250.

a,b,c=150,120,250
print("The values of a=",a," b=",b," c=",c)

The values of a= 150  b= 120  c= 250

In [77]:
# 4)wap to to initialize  a var and different DT values

a=10
print(a)
a=10.6
print(a)
a=10+3j
print(a)
a=True
print(a)
a=b'1010'
print(a)
a=None
print(a)
a=10,20,30,40
print(a)
a=(10,20,30,40)
print(a)
a=[10,20,30,40]
print(a)
a={10,20,30,40}
print(a)
a={10:20,30:40}
print(a)

10
10.6
(10+3j)
True
b'1010'
None
(10, 20, 30, 40)
(10, 20, 30, 40)
[10, 20, 30, 40]
{40, 10, 20, 30}
{10: 20, 30: 40}

In [78]:
#5)wap to print type of the data of the given value
a={1,2,3,4,7,8}
print(type(a))

<class 'set'>

In [79]:
#6)wap to print address of the memory block
a=10
print(id(a))

140728478393416

In [80]:
#7)wap to print your details first store you details then extract them
#3 concepts to fetch
#variable concep
name="moon"
age=22
phone=9876543216                              # need to use variable for every detail to fetch
email="sukihime@gmail.com"

#list concep
moon=['moon',22,9876543215,"sukihime@gmail.com"]          # can befetch using indexing but need to remember each indexposition of details

#dict concep
moon={"Name": "moon", "age": 22,"Phone Number":9876543216}
print("the age of mooon is",moon["age"])

the age of mooon is 22

In [81]:
#8)wap to swap the variablesn with using temp var
x="haii"
y="hello"
print(x,y)
temp=x
x=y
y=temp
print(x,y)

haii hello
hello haii

In [82]:
#9)wap to swap the variablesn without using temp var
m=[1,2,3,4]
n=(10,20,30,40)
print(m,n)
m,n=n,m
print(m,n)

[1, 2, 3, 4] (10, 20, 30, 40)
(10, 20, 30, 40) [1, 2, 3, 4]

In [83]:
#10)wap to initialize a value and point it, then reinitialize the new value in to the existing  variable
a={1:547}  #initialize
print(a[1]) #fetch
a[1]=200   #modify
print(a)
a=1,2,3,4   #reinitialize
print(a)
a+=20,30,40  #concat
print(a)
del a     #deletion
print(a)

547
{1: 200}
(1, 2, 3, 4)
(1, 2, 3, 4, 20, 30, 40)

NameError: name 'a' is not defined

In [ ]:
#11)Was to convert single to multi value data
a=10
a=str(a)
print(a)

In [ ]:
#12)Wap to concat the two multivalue data types (str,list,tuple)
str
x="hello"
x+='world'
print(x)

list
y=[10,20,30]
y+=[40,50,60]
print(y)

tuple
s=(10,20,30)
s+=(40,50)
print(s)

In [ ]:
#13)Was to check the length of collection
s={10,20,30,40,50}

print(len(s))

In [ ]:
#14)Wap to check find out the middle value of the given collection
l=[10,20,30,40]
print(l[len(l)//2])

In [ ]:
#15)Was to concat the new string into starting of given string
a="how r u"
b="haii"
print(b+a)

In [ ]:
#16)Was to concat the new string into ending of given string

a="str"
b="ing"
a=a+b
print(a)

In [ ]:
#17)Was to concat the new string into middle of given string

a="hello world"
b="bye"
print(a[0:6]+b+a[5:])

In [ ]:
#18)wap to modify the new char in to the middle of given string
s="pyspiders"
print(s)
t=s[len(s)//2]
print(t)
s=s[0:len(s)//2]+"I"+s[(len(s)//2)+1:]
print(s)

pyspiders
i
pyspIders

In [ ]:
#19)Was to modify the sequence of character in given string
s="pyspiders"
print(s[0:3]+"PID"+s[6:])

In [ ]:
#20)Was to delete the specific chaaracter in given string

s="pyspiders"
print(s)
print(s[:-4]+'D'+s[-3:])

pyspiders
pyspiDers

In [ ]:
#21)was to delete a specific character in a given string
s="pyspiders"
print(s[:2]+s[3:])

pypiders

In [84]:
#22)was to delete sequence of characters in a given string
s='pyspiders'
print(s[:3]+s[-3:])

pysers

In [ ]:
#23)was to concat new string into a specific potion of given string
s="hai are you"
print(s[:4]+'hai'+s[3:])

In [155]:
#24)was to concat new value into starting of given list
s=[1,2,3]
print([4,5,7]+s)

[4, 5, 7, 1, 2, 3]

In [191]:
#25)was to concat new value into ending  of given list
s=[1,2,3]
print(s+[4,5,7])

[1, 2, 3, 4, 5, 7]

In [227]:
#26)was to concat new value into middle of given list
s=[10,10.12,True ,'hai']
s[len(s)//2:len(s)//2]=['a','b']
print(s)

[10, 10.12, 'a', 'b', True, 'hai']

In [ ]:
#27)was to concat new value into specific postion of given list
s=[10,10.12,True ,'hai']
s[2:2]=['hai']
print(s)

In [ ]:
#28)was to modify new value into specific postion of given list
s=[10,10.12,True ,'hai']
s[1]=True
print(s)

In [ ]:
#29)was to modify new value into starting postion of given list
s=[10,10.12,True ,'hai']
s[0]={'a':20}
print(s)

In [ ]:
#30)was to modify new value into ending value of given list
s=[10,10.12,True ,'hai']
s[-1]='qspiders'
print(s)

In [228]:
#31)wap to modify the new value into middile of list
l=[10,10.6,True,'haii']
l[len(l)//2]="hello"
print(l)

[10, 10.6, 'hello', 'haii']

In [229]:
#32)wap to modify the first 4 positions of given list
l=[1,2,3,4,5,6,7,8]
l[0:4]=['a','b','c',]
print(l)

['a', 'b', 'c', 5, 6, 7, 8]

In [230]:
#33)wap to modify the sequence of values in the given list
d=[1,2,3,4,5,6,7,8,9]
print(d)
print(d[1: :2])
d[1: :2]=[20,40,60,80]
print(d)

d=[1,3,2,5,4,7,8,6,9,15]
print(d[ : :2])
d[ : :2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2,]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[1, 20, 3, 40, 5, 60, 7, 80, 9]
[1, 2, 4, 8, 9]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [231]:
#34)wap to delete the values in specific position in the given list
s=[1,2,3,4,5]
print(s)
del s[3]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [232]:
#35)wap to delete the values at the ending of list
s=[1,2,3,4,5]
print(s)
del s[-1]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [233]:
#36)wap to delete new value at startinf of list
s=[1,3,5,7,9,11]
print(s)
s[0:1]=[]
print(s)

[1, 3, 5, 7, 9, 11]
[3, 5, 7, 9, 11]

In [234]:
#37)wap to delete new value in the middle of the list
s=[1,2,3,4,5,6]
print(s)
del s[len(s)//2]
print(s)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]

In [235]:
#38)wap to concat the value at starting of tuple
t=(1,2,3,4,5)
print(t)
t=('a','b')+t
print(t)

(1, 2, 3, 4, 5)
('a', 'b', 1, 2, 3, 4, 5)

In [236]:
#39)wap to concat the value at the middle of tuple.
t=(1,2,3,4,5)
print(t)
t=t[0:2]+('a','b')+t[2:]
print(t)

(1, 2, 3, 4, 5)
(1, 2, 'a', 'b', 3, 4, 5)

In [237]:
#40)wap to concatenate the new value at the ending of tuple
t=(1,2,3,4,5)
print(t)
t+=('a','b')
print(t)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 'a', 'b')

In [ ]:
#41)was to modify sequence values in a tuple
t=(10,10.12,True,50)
print(t[0:1]+('modified',))

In [ ]:
#42)was to delete sequence of values in a tuple 
t=(10,10.12,True,'string',[10,True])
print(t[:1]+t[-1:])

In [ ]:
#43)was to concat the new value into the set
s={10,20,30}
s|={40,50}
print(s)

In [ ]:
#44)was to delete specific value in a set
s={10,20,30}
s-={20}
print(s)

In [ ]:
#45)was to concat new value and key to dict
d={10:20,20:30,40:50}
d[50]=309
print(d) #to add single value
e={60:70,80:90}
d|=e
print(d) #to add multiple values at a time

In [ ]:
#46)was to delete specific key and value in the given dict
d={10:20,20:30,40:50}
del d[20]
print(d)

In [ ]:
#47)was to specific value in a given dict
d={10:20,20:30,40:50}
d[10]=200
print(d)

In [ ]:
#48)was to concat list value and tuple values by using typecasting
l=[10,10.12,True]
t=("string",'a','b')
print(l+list(t))

In [ ]:
#49)was to concat list and tuple value without using typecasting
l=[10,10.12,True]
t=("string",'a','b')
l+=t
print(l)

In [238]:

# 50 to concat list and tuple by using the compound assignment

l=[10,20,30,40]
l+=("a","b","c","d")
print(l)

[10, 20, 30, 40, 'a', 'b', 'c', 'd']

In [239]:
# 51 to check given number is divisible by the 3

n=6
print(n%3==0)

True

In [240]:
    
#52 to check the given number is diisible by 2 and 6

n=21
print(n%2==0 and n%6==0)


n=24
print(n%2==0 and n%6==0)

False
True

In [241]:
# 53 to extract the last digit of the number and check it is divisible by 3

n=1997
rem=n%10
print(rem%3==0)

n=1996
rem=n%10
print(rem%3==0)

False
True

In [242]:
# 54 to extract the the last int by using the type casting

s=2029
n=str(s)
print(int(n[-1]))

9

In [243]:
# 55 to check the given number is greater than 150

n=151
print(n>150)

n=140
print(n>150)

True
False

In [244]:
# 56 to check the given number is greater than or equal to 100

n=100
print(n>=100)

s=132
print(s>=100)

a=99
print(a>=100)

True
True
False

In [245]:
# 57 to check the given number is greater than 16 and less than 24

n=20
print(n>16 and n<24)


n=25
print(n>16 and n<24)


n=23
print(16<n<24)

True
False
True

In [246]:
# 58 to check the number is less than or equal to 100

n=100
print(n<=100)


n=101
print(n<=100)


n=90
print(n<=100)

True
False
True

In [247]:
# 59 to check the given is is even

n=121
print(n%2==0)


n=256
print(n%2==0)

False
True

In [248]:
# 60 to check the number is odd

n=233
print(n%2!=0)


n=122
print(n%2!=0)

True
False

In [249]:
# 62 to perform the replication of the string

a="str"
print(a*5)

a=[10,20,30]
print(a*5)

a=("a","b","c")
print(a*4)

strstrstrstrstr
[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]
('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [250]:
# 63 to check the given number is greater than 22 and divisible by 3

n=29
print(n>22 and n%3==0)


s=24
print(s>22 and s%3==0)

False
True

In [251]:
# 64 to check the length of the collection is even or not

s="python is a programming language"
print(len(s)%2==0)



s=[1,2,3,4,5,6,90]
print(len(s)%2==0)

True
False

In [252]:
# 65 to perform the length of the collection is less than 55 and greater than 16

s="python is a highlevel programming language"
len(s)>16 and len(s)<55

print(22<len(s)<55)

True

In [253]:
# 66)wap to perform the the given collection is divisible by 5 and it is odd

s="python is a programming language"
print(len(s)%5==0 and len(s)%2!=0)


t="programming lan"
print(len(t))
print(len(t)%5==0 and len(t)%2!=0)

False
15
True

In [254]:
# 67 to extract the middle position of the given collection and either it is (str,list,tuple)

l="hello"
l=len(l)//2
print(type(l))

<class 'int'>

In [255]:
#68 to check the given number is greater than 30 and less than 20 and divisible by 2

n=25
print(20<n<30 and n%2==0)

 
n=28
print(20<n<30 and n%2==0)

False
True

In [256]:
# 69 to check the number is less than 120 and even

n=108
print(n<120 and n%2==0 )


n=153
print(n<120 and n%2==0)

True
False

In [257]:
# 70 to check the number is even and present between 40 and 70

n=56
print(40<n<70 and n%2==0)


n=61
print(40<n<70 and n%2==0)

True
False

In [258]:
# 71 to check the number is odd and greater than 97
n=101
print(n>97 and n%2!=0)

True

In [259]:
# 72 to check the number is greater than 46 and less than 122 and divisible by 4

n=72
a=46<n<122 and n%4==0
print(a)

n=45
a=46<n<122 and n%4==0
print(a)

True
False

In [260]:
# 73 to check the given number is divisible by both 3 and 5,display value

n=60
a=n%3==0 and n%5==0
print(a)

n=40
b=n%3==0 and n%5==0
print(b)

True
False

In [261]:
#74 to check the number between 100 and 200 including the limit

n=120
a=100<n<200
print(a)

True

In [262]:
#75 to check the number between 100 and 200 

n=51
a=100<n<200
print(a)

n=190
a=100<n<200
print(a)

False
True

In [3]:
#81)wae to check given number is not a even number
n=20
print(n%2!=0)
n=21 
print(n%2!=0)

False
True

In [4]:
#82)wae to check given number is not a odd number
n=40
print(n%2==0) 
n=41
print(n%2==0)

True
False

In [5]:
#83)wae to check number is not divisble by 3
n=31
print(n%3!=0)
n=33
print(n%3!=0)

True
False

In [7]:
#84)wae to check the given number is not divisible by 3 and 5
n=15
print(n%3!=0 and n%5!=0) 
n=38
print(n%3!=0 and n%5!=0)

False
True

In [8]:
#85) wae to check the given number is not divisble 3 or 5
n=33
print(n%3!=0 or n%5!=0 )
n=45
print(n%3!=0 or n%5!=0 )
n=11
print(n%3!=0 or n%5!=0 )

True
False
True

In [10]:
#86)wae to check given character ascii value is not divisible by 5
char='A'
print(ord(char)%5!=0) 
char='B'
print(ord(char)%5!=0)

False
True

In [13]:
#87)wae to check to find out the ascii character of given number
n=99
print(chr(n))
n=88
print(chr(n))

c
X

In [14]:
#88)wae to check find out the ascii value in a given character
char='b'
print(ord(char))
char='c'
print(ord(char))

98
99

In [20]:
#89)wae to check given character is uppercase or not
char='A'
print('A'<= char<='Z')
char='z'
print('A'<= char<='Z')
char='BC'
print( len(char)==1 and 'A'<= char<='Z')
char='Abcd'
print( len(char)==1 and 'A'<= char<='Z')
char='F'
print( len(char)==1 and 65<= ord(char)<=90)

True
False
False
False
True

In [21]:
#90)wae to check the character is lowercase
char='c'
print('a'<= char<='z')
char='BC'
print( len(char)==1 and 'a'<= char<='z')
char='g'
print( len(char)==1 and 'a'<= char<='z')

True
False
True