In [2]:
#iteration in a string collection
st='salaar'
for i in st:
    print(i,end=' ')

s a l a a r

In [4]:
#iteration in a list collection
l=[10,20,30,40,50]
for i in l:
    print(i,end=' ')

10 20 30 40 50

In [8]:
#iteration in a tuple collection.
t=(10,True,10.12,10+3j,b'1010',[10,20,30],'string',{1,2,3},{'a':1,'b':2})
for i in t:
    print(type(i),end=" ")
    print(i)

<class 'int'> 10
<class 'bool'> True
<class 'float'> 10.12
<class 'complex'> (10+3j)
<class 'bytes'> b'1010'
<class 'list'> [10, 20, 30]
<class 'str'> string
<class 'set'> {1, 2, 3}
<class 'dict'> {'a': 1, 'b': 2}

In [11]:
#iteration in a set 
s={1,10.12,True,b'1aa','salaar'}
for i in s:
    print(type(i),end=' ')

<class 'int'> <class 'float'> <class 'str'> <class 'bytes'>

In [14]:
#iteration over dict 
d={'salaar':29,'cease':9,'fire':2023}
for i in d:
    print(d[i])

29
9
2023

In [15]:
#wap to extract the each and every char from the string by using for loop 
s='hello'
for i in s:
    print(i)

h
e
l
l
o

In [3]:
#wap to print lowercase and special character from string
st='salAar@$1'
res=''
for i in st:
    if 'a'<=i<='z' or not('A'<=i<='Z'or'a'<=i<='z' or '0'<=i<='9'):
        res=res+i
print(res)

salar@$

In [ ]:
#wap to count no of data items in a given collection