In [40]:
#wap to print series of factors numbers given range using nested functions.
def factors(start=0,end=None):
    l=[]
    d={}
    for i in range(start,end):
        j=1 
        while j<=i:
            if i%j==0:
               l+=[j]
            j+=1
            d[i]=l
        l=[]
    print(d)
factors(5,15)

{5: [1, 5], 6: [1, 2, 3, 6], 7: [1, 7], 8: [1, 2, 4, 8], 9: [1, 3, 9], 10: [1, 2, 5, 10], 11: [1, 11], 12: [1, 2, 3, 4, 6, 12], 13: [1, 13], 14: [1, 2, 7, 14]}

In [52]:
#wap to print a series of factorial numbers given range using nested functions.
def factorials(start,end):
    d={}
    while start<=end:
        i=1
        ans=1
        while i<=start:
            ans=ans*i
            i+=1
        d[start]=ans
        start+=1
    print(d)
factorials(1,20)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720, 7: 5040, 8: 40320, 9: 362880, 10: 3628800, 11: 39916800, 12: 479001600, 13: 6227020800, 14: 87178291200, 15: 1307674368000, 16: 20922789888000, 17: 355687428096000, 18: 6402373705728000, 19: 121645100408832000, 20: 2432902008176640000}

In [55]:
#wap to print 19 tables within in the given range using functions format ex 19*2=38
def table(num,multiple=10):
    for i in range(1,multiple+1):
        res=num*i
        print(f'{num}*{i}={res}')
table(25,10)

25*1=25
25*2=50
25*3=75
25*4=100
25*5=125
25*6=150
25*7=175
25*8=200
25*9=225
25*10=250

In [62]:
def table(num,multiple=10):
    for i in range(1,multiple+1):
        res=num*i
        print(f'{num}*{i}={res}')

def table1(start,end):
    for j in range(start,end+1):
        table(j)
        print()
table1(1,19)

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110

12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120

13*1=13
13*2=26
13*3=39
13*4=52
13*5=65
13*6=78
13*7=91
13*8=104
13*9=117
13*10=130

14*1=14
14*2=28
14*3=42
14*4=56
14*5=70
14*6=84
14*7=98
14*8=112
14*9=126
14*10=140

15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150

16*1=16
16*2=32
16*3=48
16*4=64
16*5=80
16*6=96
16*7=112
16*8=128
16*9=144
16*10=160

17*1=17
17*2=34
17*3=51
17*4=68
17*5=85
17*6=102
17*7=119
17*8=136
17*9=153
17*10=170

18*1=18
18*2=36
18*3=54
18*4=72
18*5=90
18*6=108
18*7=126
18*8=144
18*9=162
18*10=180

19*1=19
19*2=38
19*3=57
19*4=76
19*5=95
19*6=114
19*7=133
19*8=152
19*9=171
19*10=190

In [60]:
#wap to return the following statement using fucntions 
#ip 'PYSPIDERS'
#OP 'SrEdIpSyP'
st='PYSPIDERS'
def sample(coll):
    res=''
    for i in range(0,len(coll)):
        if i%2!=0 and 'A'<=coll[i]<='Z':
            res=chr(ord(coll[i])+32)+res
        else:
            res=coll[i]+res
    return res
sample(st)

'SrEdIpSyP'

In [65]:
#wap to get the following output using fucntion 
#input : 'I love india I love my country'
#output :{'I':2,'love':2,'india':1,'my':1,'country':1}
st='I love india I love my country'
def strfun(coll):
    res=''
    d={}
    for i in coll:
        if i!=' ':
            res+=i
        else:
            if res not in d:
                d[res]=1
                res=''
            else:
                d[res]+=1
                res=''
    d[res]=1
    return d
strfun(st)

{'I': 2, 'love': 2, 'india': 1, 'my': 1, 'country': 1}

In [67]:
#wap to store the seeries of cube numbers in a diict given in  a range using functions .Format ={1:1,2:8}
def cube(start,end):
    d={}
    while start<=end:
        d[start]=start**3
        start+=1
    return d
cube(1,10)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [68]:
#wap to print series of perfect numbers from 1 to 1800.
def perfectnos(start,end):
    l=[]
    while start<=end:
        fac=1
        sum=0
        while fac<start:
            if start%fac==0:
                sum=sum+fac
            fac+=1
        if sum==start:
            l+=[sum]
        start+=1
    return l
perfectnos(1,1800)

[6, 28, 496]

In [69]:
#wap to check the frequency of words in a given string 
st='I love india I love my country'
def strfun(coll):
    res=''
    d={}
    for i in coll:
        if i!=' ':
            res+=i
        else:
            if res not in d:
                d[res]=1
                res=''
            else:
                d[res]+=1
                res=''
    d[res]=1
    return d
strfun(st)

{'I': 2, 'love': 2, 'india': 1, 'my': 1, 'country': 1}

In [ ]:
#wap to print nth fibonacci series