In [ ]:
#WAP to print the "hello world' for 5 times by using a while loop.
n=1
while n<=5:
    print('hello wolrd')
    n+=1

In [ ]:
#WAP to the number from 1 to 10 by a While loop.
n=1
while n<=10:
    print(n)
    n+=1

In [ ]:
#3WAP to print the natural number 1 to nth times by using a while loop-
n=1
end=int(input('enter nth value '))
while n<=end:
    print(n)
    n+=1

In [ ]:
#4WAp to print the reverse of the natural number nth to 0 times by while loop.
endnum=int(input('enter end number'))
num=1
while endnum>=num:
    print(endnum)
    endnum-=1

In [ ]:
#5WAP to prilnt the whole number until nth times by using a Loop.
start=0
end=int(input('enter the nth value'))
while start<=end:
    print(start)
    start+=1

In [ ]:
#6wAP to print the reverse of the whole number until nth times by using a while Loop.
end=0
start=int(input('enter the nth value'))
while start>=end:
    print(start)
    start-=1

In [ ]:
#7wAP to print the even no untiL nth timees by using a while loop.
start=1
end=int(input('enter nth value'))
while start<=end:
    if start%2==0:
        print(start)
    start+=1

In [ ]:
#8 wAP to print reverse the even no untiL nth timees by using a while loop.
start=1
end=int(input('enter nth value'))
while start<=end:
    if end%2==0:
        print(end)
    end-=1

In [ ]:
#9wAP to print the odd no untiL nth timees by using a while loop.
start=1
end=int(input('enter nth value'))
while start<=end:
    if start%2!=0:
        print(start)
    start+=1

In [ ]:
#10wAP to print  reverse the odd no untiL nth timees by using a while loop.
start=1
end=int(input('enter nth value'))
while start<=end:
    if end%2!=0:
        print(end)
    end-=1

In [ ]:
#11WAP to print the nth table 1 to 20. format —5*1=5 5*20=200
num=int(input('enter a number'))
multiple=1
while multiple<=20:
    print(num,'*',multiple,'=',num*multiple)
    multiple+=1

In [ ]:
#12WAP to print  reverse the nth table 1 to 20. format — 5*20=200 5*1=5
num=int(input('enter a number'))
multiple=20

while multiple>=1:
    print(num,'*',multiple,'=',num*multiple)
    multiple-=1

In [ ]:
#13WAP to print the numbers which are divisible by 3 and 5 from 15 to 78.
start=15
end=78
while start<=end:
    if start%3==0 and start%5==0:
        print(start)
    start+=1

In [ ]:
#14wap to print the numbers which are divisible by 3 from 25 to 66 
start=25
end=78
while start<=end:
    if start%3==0 :
        print(start)
    start+=1

In [ ]:
#15WAP to print the nos are divisible by 5 and 7 , 77 to 22
num1=77
num2=22
while num1>=num2:
    if num1%5==0 and num1%7==0:
        print(num1)
    num1-=1

In [ ]:
#16 WAP to print the 'love you " if value is divisible by 3, or print "hate you" value is
# divisible by 5, to print "i like you" if divisible by 3 and 5, from I to 30.
num1=1
num2=30
while num1<=num2:
    if num1%3==0 and num1%5==0:
        print('i like you',num1)
    elif num1%5==0:
        print(' 143 vahin ',num1)
    elif num1%3==0:
        print('i love u vahin',num1)
    num1+=1

In [ ]:
#17 WAP to print SUM of the to nth natural numbers.
start=1
n=int(input('enter N th value'))
sum=0
while start<=n:
    sum+=start
    start+=1
print(sum)

In [ ]:
#18WAP to print sum of the even numbers 1 to 20 numbers.
start=1
end =20
while start<=end:
    if start%2==0:
        print(f'{start} even no')
    start+=1

In [ ]:
#19 WAP to print products of the 1 to 6 numbers
num1=1
num2=6
product=1
while num1<=num2:
    product*=num1
    num1+=1
print(product)

In [ ]:
#20wAP to count the no of odd values from 1 to 30 numbers.
start=1
end=30
count=0
while start<=end:
    if start%2!=0:
        count+=1
    start+=1
print(count)

In [ ]:
#21WAP to print the factors of the given no.
num=int(input('enter a no'))
fact=1
while fact<=num:
    if num%fact==0:
        print(fact)
    fact+=1

In [ ]:
#22WAP to sum of the factors of the given number.
num=int(input('enter a no'))
fact=1
sum=0
while fact<=num:
    if num%fact==0:
        sum+=fact        
    fact+=1
print(sum)

In [ ]:
#23WAP to prod of the factors of the given number
num=int(input('enter a no'))
fact=1
product=1
while fact<=num:
    if num%fact==0:
        product*=fact        
    fact+=1
print(product)

In [ ]:
#24WAP to print Fibonacci series 0 to nth.
num1=0
num2=1
count=10
while count:
    sum=num1+num2
    print(sum)
    num1,num2=num2,sum
    count-=1

In [ ]:
#25WAP to find out the factorial number Of a given number.
num=int(input("enter a no"))
product=1
i=1
while i<=num:
    product*=i
    i+=1
print(product)

In [ ]:
#26WAP to find out the factorial numbers in given range m to n
start=int(input('enter the value '))
end=int(input('enter the value '))
while start<=end:
    product=1
    i=1
    while i<=start:
        product*=i
        i+=1
    print(start,product)
    start+=1

In [ ]:
#27wAP to check whether given number is a prime number or not.
num=int(input('enter a no'))
count=0
i=1
while i<=num:
    if num%i==0:
        count+=1
    i+=1
if count==2:
    print(f'{num} is prime no')

In [ ]:
#28 wAP to check prime numbers in between range 1 to n  .
m=1
n=int(input('enter n number'))
while m<n:
    i=1
    count=0
    while i<=m:
        if m%i==0:
            count+=1
        i+=1
    if count==2:
        print(f'{m} is prime number')
    m+=1

In [ ]:
#29 WaP to check whether a given number is an armstrong number or not.
num=153
temp=num
num1=num
count=0
while num:
    count+=1
    num//=10
sum=0
while temp:
    ld=temp%10
    sum+=ld**count
    temp//=10
if num1==sum:
    print(sum)

In [ ]:
#30 WaP to check whether armstrong numbers in a given range m to n.
m=1
n=100000
while m<=n:
    num=m
    temp=num
    num1=num
    count=0
    while num:
        count+=1
        num//=10
    sum=0
    while temp:
        ld=temp%10
        sum+=ld**count
        temp//=10
    if num1==sum:
        print(sum)
    m+=1

In [ ]:
#31 wap to print prime series for, 1 to nth    
n=1
num=int(input('enter a value '))
while n<=num:
    i=1
    count=0
    while i<=n:
        if n%i==0:
            count+=1
        i+=1
    if count==2:
        print(n)
    n+=1

In [34]:
#32wap to print 1 to 100  prime numbers in fibanacci series
num1=0
num2=1
# print(num1)
# print(num2)
count=100
list1=[]
while count:
    sum=num1+num2
    list1.append(sum)
    num1,num2=num2,sum
    count-=1
print(list1)

start=1
end=100
while start<=end:
    i=1
    count=0
    while i<=start:
        if start%i==0:
            count+=1
        i+=1
    if count==2 and start in list1:
        print(start)
    start+=1

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101]
2
3
5
13
89

In [11]:
#33 wap a program Sum of prime in a given collection
n=1
sum=0
list1=[]
num=int(input('enter the nth value '))
while n<=num:
    i=1
    count=0
    while i<=n:
        if n%i==0:
            count+=1
        i+=1
    if count==2:
        list1.append(n)  
    n+=1
print(list1)
j=0
sum=0
while j<len(list1):
    sum+=list1[j]
    j+=1
print(sum)

[2, 3, 5, 7]
17

In [2]:
#34wap to check given no is palindrome or not
n=121
temp=n
sum=0
while n:
    ld=n%10
    sum=sum*10+ld
    n//=10
if sum==temp:
    print('palindrome')
else:
    print('not a palindrome')

palindrome

In [8]:
#35WAP to the check len of str is even Or Odd. is even
# that string 10 times. If it is not print 5 times.

st=input('enter a string')
lent=len(st)
if lent%2==0:
    i=0
    while i<10:
        print(st)
        i+=1
else:
    j=1
    while j<=5:
        print(st)
        j+=1

in
in
in
in
in
in
in
in
in
in

In [ ]:
#36WAP to print the uppercase character 'A' to'Z' by using While loop
a=ord('A')
b=ord('Z')
while a<=b:
    print(chr(a),end=" ")
    a+=1

In [ ]:
#37WAP to prim the character from 'a' to •z' by using while loop
a=ord('a')
b=ord('z')
while a<=b:
    print(chr(a),end=" ")
    a+=1

In [ ]:
#38 wap to print the  number characters from O' to 9' by while loop
a=ord('0')
b=ord('9')
while a<=b:
    print(chr(a),end=" ")
    a+=1

In [ ]:
#39 wap to print the  uppercase character from E' to U by while loop
a=ord('E')
b=ord('U')
while a<=b:
    print(chr(a),end=" ")
    a+=1

In [ ]:
#40  wap to print the  uppercase character from Z' to A by while loop
a=ord('Z')
b=ord('A')
while a>=b:
    print(chr(a),end=" ")
    a-=1

In [ ]:
#41  wap to print the  uppercase character from U' to G by while loop
a=ord('U')
b=ord('G')
while a>=b:
    print(chr(a),end=" ")
    a-=1

In [ ]:
#42 wap to print the  lowercase character from i' to y by while loop
a=ord('i')
b=ord('y')
while a<=b:
    print(chr(a),end=" ")
    a+=1

In [ ]:
#43 wap to print the  lowercase character from z' to a by while loop
a=ord('z')
b=ord('a')
while a>=b:
    print(chr(a),end=" ")
    a-=1

In [ ]:
#44 wap to print the  lowercase character from p' to c by while loop
a=ord('p')
b=ord('c')
while a>=b:
    print(chr(a),end=" ")
    a-=1

In [ ]:
#45 wap to print the  uppercase characters of having even ascii values a by while loop
a=ord('A')
b=ord('Z')
while a<=b:
    if a%2==0:
        print(chr(a),end=" ")
    a+=1

In [ ]:
#46 wap to print the  lowercase characters of having even ascii values a by while loop
a=ord('a')
b=ord('z')
while a<=b:
    if a%2==0:
        print(chr(a),end=" ")
    a+=1

In [ ]:
#47 wap to print the  uppercase characters of having  odd ascii values a by while loop
a=ord('A')
b=ord('Z')
while a<=b:
    if a%2!=0:
        print(chr(a),end=" ")
    a+=1

In [ ]:
#48  wap to print the  lowercase characters of having odd ascii values a by while loop
a=ord('a')
b=ord('z')
while a<=b:
    if a%2!=0:
        print(chr(a),end=" ")
    a+=1

In [ ]:
#49 wap to print all even characters from 'A' to 'Z'
a=ord('A')
b=ord('Z')
while a<=b:
    if a%2==0:
        print(chr(a),end=" ")
    a+=1

In [ ]:
#50 wap to print all odd characters from 'a' to 'z'
a=ord('a')
b=ord('z')
while a<=b:
    if a%2!=0:
        print(chr(a),end=" ")
    a+=1

In [ ]:
#51 wap to print no of vowels from "D" to "V"
a=ord('D')
b=ord('V')
while a<=b:
    if chr(a) in "AEIOU":
        print(chr(a),end=" ")
    a+=1

In [ ]:
#52  wap to print no of vowels from "u" to "e"
a=ord('u')
b=ord('e')
while a>=b:
    if chr(a) in "aeiou":
        print(chr(a),end=" ")
    a-=1

In [ ]:
#53 WAP to print the square of the number in between the range from m to n which
# is multiple of 3. WAP to print a from range m to m which is divisible by 5
m=1
n=50
while m<=n:
    if m%3==0:
        print(m,end=" ")
    m+=1
m=1
n=50
while m<=n:
    if m%5==0:
        print(m,end=" ")
    m+=1

In [ ]:
#54wap program which takes an integer and find the sum Ot digits
# until the sum gets a single digit in the end.
num=5643
while num>9:
    sum=0
    while num:
        ld=num%10
        sum+=ld
        num//=10
    num=sum
    print(sum)

In [ ]:
#55 Write a program to  the numbers of 2's between 0 and n
# Input n=35
# Output ex= 2,12,20,21,22,23,24,25,26,27,28,29,32
#output 14 
n=0
n1=35
list1=[]
while n<=n1:
    num=n
    temp=n
    count=0
    while num:
        ld=num%10
        if ld==2:
            count+=1
            list1.append(temp)
        num//=10
    n+=1
print(list1,len(list1))

In [ ]:
#56

In [3]:
#59WAP to print all the items present in string between the range from m to n 
st='salaar cease fire'
m=0
n=len(st)
while m<n:
    print(st[m],end=" ")
    m+=1

s a l a a r   c e a s e   f i r e

In [9]:
#60 wap to print uppercase characters in a string
st1='SalaarCeaSeFire'
i=0
uc=''
while i<len(st1):
    if "A"<=st1[i]<="Z":
        uc+=st1[i]    
    i+=1
print(uc)

SCSF

In [11]:
#61 wap to print lowercase characters in a string
st1='SalaarCeaSeFire'
i=0
lc=''
while i<len(st1):
    if "a"<=st1[i]<="z":
        lc+=st1[i]    
    i+=1
print(lc)

alaareaeire

In [12]:
#62 wap to print ascii numbers(digits) characters in a given string  
st1='SalaarCeaSeFire28-09-2023'
i=0
ac=''
while i<len(st1):
    if "0"<=st1[i]<="9":
        ac+=st1[i]    
    i+=1
print(ac)

28092023

In [15]:
#63 wap to print only special characters in a given string
st1='SalaarCeaSeFire28-09-2023!@#$'
i=0
sc=''
while i<len(st1):
    if not("0"<=st1[i]<="9" or "A"<=st1[i]<="Z" or "a"<=st1[i]<='z'):
        sc+=st1[i]    
    i+=1
print(sc)

--!@#$

In [85]:
#64 wap to print the vowels in a given string
st='salaar cease fiIe'
j=0
nondup=''
while j<len(st):
    if st[j] not in nondup:
        nondup+=st[j]
    j+=1
print(nondup)    
i=0

while i<len(nondup):
    if nondup[i] in 'aeiouAEIOU':
        print(nondup[i],end=' ')
    i+=1

salr cefiI
a e i I

In [ ]:
#65 wap to print the consonants in a given string 
st='salaar cease fire'
j=0
while j<len(st):

In [28]:
#66 wap to print the reverse of given characters in a given string
st='salaar cease fire'
i=-1
temp=''
while i>=-(len(st)):
    temp+=st[i]
    i-=1
print(temp)

erif esaec raalas

In [31]:
#67 wap to even position values characters in a given string 
st2='salaarceasefire'
i=0
while i<len(st2):
    if i%2==0:
        print(st[i],end=" ")
    i+=1

s l a   e s   i

In [3]:
#68 wap to print odd postion values in a given string
st='salaaarceasefire'
i=0
while i<len(st):
    if i%2!=0:
        print(st[i],end=' ')
    i+=1

a a a c a e i e

In [4]:
#69 wap to count total no of characters in a given string
st='salaarceasefire'
i=0
count=0
while i<len(st):
    count+=1
    i+=1
print(count)

15

In [ ]:
#70 wap to count total no of characters in a gieven string without using length function
st='vahinisalaar'
i=0

In [8]:
#71 wap to count alphabets in a gievn string
st='salaarvahin29-09-2023'
i=0
count=0
while i<len(st):
    if 'A'<=st[i]<='Z' or 'a'<=st[i]<='z':
        print(st[i],end=' ')
        count+=1
    i+=1
print(count)

s a l a a r v a h i n 11

In [10]:
#72 wap to print no of uppercase in a given string 
st='SalaaRceaseFIRE'
i=0
count=0
while i<len(st):
    if 'A'<=st[i]<='Z':
        print(st[i],end=' ')
        count+=1
    i+=1
print(count)

S R F I R E 6

In [11]:
#73 wap to print no of lowercase in a given string 
st='salaaRCeaseFire'
i=0
count=0
while i<len(st):
    if 'a'<=st[i]<='z':
        print(st[i],end=' ')
        count+=1
    i+=1
print(count)

s a l a a e a s e i r e 12

In [14]:
#74 wap to print no of special characters in a given string
st='Salaarc45easefire!@#$%^'
i=0
count=0
while i<len(st):
    if not('A'<=st[i]<='Z' or 'a'<=st[i]<='z' or '0'<=st[i]<='9'):
        count+=1
        print(st[i],end=" ")
    i+=1
print(count)

! @ # $ % ^ 6

In [16]:
#75 wap to print no of uppercase and lowercase characters in a given string 
st='SalaarCease!@#123'
i=0
count=0
while i<len(st):
    if 'A'<=st[i]<='Z' or 'a'<=st[i]<='z':
        print(st[i],end=' ')
        count+=1
    i+=1
print(count)

S a l a a r C e a s e 11

In [20]:
#76 wap to print no of ascii values in a given string 
st='s545alaar@123456'
i=0
count=0
while i<len(st):
    if '0'<=st[i]<='9':
        count+=1
        print(st[i],end=' ')
    i+=1
print('count',count)

5 4 5 1 2 3 4 5 6 count 9

In [98]:
#77 wap to count no words in a given string
# st='salaar cease fire'
# i=0
# count=1
# while i<len(st):
#     if st[i] ==' ':
#         count+=1
#        i+=1
# print(count)
st='vasu krishna'
i=0
count=0
if len(st)==0:
    pass
elif st[0]!=' ' and st[-1]!=' ':
    count=1
while i<len(st):
    if st[i-1]!=' ' and st[i]==' ':
        count+=1
    i+=1
print(count)

2

In [3]:
#78 wap to count total number of spaces in a given string
st='salaar cease fi r   e'
i=0
count=0
while i<len(st):
    if st[i]==' ':
        count+=1
    i+=1
print(count)

6

In [82]:
#79 wap to count no of vowels in a string
st='SAlaarCEASEfire1234!@'
i=0
st1=''
while i<len(st):
    if st[i] not in st1 and 'A'<=st[i]<="z":
        st1+=st[i]
    i+=1
print(st1)
j=0
count=0
while j<len(st1):
    if st1[j] in 'aeiouAEIOU':
        print(st1[j],end=' ')
        count+=1
    j+=1
print(count)

SAlarCEfie
A a E i e 5

In [28]:
#80 wap to count no of consonents in a string
st='SaLAARCEASEvahINI'
i=0
st1=''
while i<len(st):
    if st[i] not in st1:
        st1+=st[i]
    i+=1
print(st1)
j=0
count=0
while j<len(st1):
    if st1[j] not in 'aeiouAEIOU' and ('a'<=st[j]<='z' or'A'<=st[j]<='Z'):
        print(st1[j],end='')
        count+=1
    j+=1
print(count)

SaLARCE vhIN
SLRC vh7

In [83]:
#81 wap to count vowels and consonents in a given string
st='SaLAARCEASEvahINIAVK'
i=0
org=''
while i<len(st):
    if st[i] not in org:
        org+=st[i]
    i+=1
print(org)
j=0
count=0
while j<len(org):
    if org[j] in 'aeiouAEIOU' :
        count+=1
    j+=1
print(count,'vowels')

SaLARCEvhINVK
4 vowels

In [105]:
#82 wap to print no of new lines in a given string
st="""salaar cease fire
salaar the saga 
this"""
count=0
if len(st)==0:
    pass
elif st[0]!=' ' and st[-1]!=' ':
    count=1
i=0
while i<len(st):
    if st[i] =='\n':
        count+=1
    i+=1
print(count)
print(len(st))

3
39

In [15]:
#83 wap to print no of lines in a given string
st='''this is 1st line
this is 2nd line
this is 3rd line'''
i=0
count=1  
while i<len(st):
    if st[i]=='\n':
        count+=1
    i+=1
print(count)

3

In [35]:
#84 wap to count no of alphabets ,special characters numbers in a given string 
st='Salaarcease fire !@#$12347'
al=0
num=0
sp=0
i=0
while i<len(st):
    if 'A'<=st[i]<='z':
        al+=1
    elif '0'<=st[i]<='9':
        num+=1
    else:
        sp+=1
    i+=1
print(al,num,sp)

15 5 6

In [70]:
#85 wap to print  total no of words in first line of a doc string 
st='''salaar cease fire
vahini vahini vahini314'''
i=0
count=1
while i<=len(st) and st[i]!='\n':    
    if st[i]==' ':
        count+=1       
    i+=1
print(count)

4

In [8]:
#86 wap to sum of digits in a given string
st='0123456789'
num=int(st)
sum=0
while num:
    ld=num%10
    sum+=ld
    num//=10
print(sum)

45

In [8]:
#87 wap to print first occurence of a given string
st='vahinsalaar'
i=0
d={}
while i<len(st):
    if st[i] not in d:
        d[st[i]]=1
    else:
        d[st[i]]+=1
    i+=1
print(d)
klayer=list(d)
j=0
while j<len(klayer):
    if d[klayer[j]]==1:
        print(klayer[j],end=' ')
    j+=1

{'v': 1, 'a': 4, 'h': 1, 'i': 1, 'n': 1, 's': 1, 'l': 1, 'r': 1}
v h i n s l r

In [13]:
#88 wap to print last occurence of a given string
st='Salawaar'
d={}
i=0
while i<len(st):
    d[st[i]]=i
    # if st[i] not in d:
    #     d[st[i]]=i
    # else:
    #     d[st[i]]=i
    i+=1
print(d)
# j=0
# # print(klayer)
# klayer=list(d)
# value=[]
# while j<len(klayer):
#     if d[klayer[j]]>=value[j]:
#         value.append(d[klayer[j]])
#     print(klayer[j],end=' ')
#     j+=1
# print(value)

{'S': 0, 'a': 6, 'l': 2, 'w': 4, 'r': 7}

In [14]:
#89 wap to Print First not Occurrence of a Character in a String.
st='Salawaar'
d={}
i=0
while i<len(st):
    d[st[i]]=i
    i+=1
print(d)

{'S': 0, 'a': 6, 'l': 2, 'w': 4, 'r': 7}

In [15]:
#90 wap to Print last not Occurrence of a Character in a String.
st='vahinsalaar'
i=0
d={}
while i<len(st):
    if st[i] not in d:
        d[st[i]]=1
    else:
        d[st[i]]+=1
    i+=1
print(d)
klayer=list(d)
j=0
while j<len(klayer):
    if d[klayer[j]]==1:
        print(klayer[j],end=' ')
    j+=1

{'v': 1, 'a': 4, 'h': 1, 'i': 1, 'n': 1, 's': 1, 'l': 1, 'r': 1}
v h i n s l r

In [15]:
#91 wap to remove first occurence of a given string.
st='salaarthesaga'
i=0
st1=''
dup=''
while i<len(st):
    if st[i] not in st1:
        st1+=st[i]
    else:
        dup+=st[i]
    i+=1
print(dup)

aasaa

In [16]:
#92  wap to remove last occurence of a given string
st='salaarthesaga'
i=0
st1=''
dup=''
while i<len(st):
    if st[i] not in st1:
        st1+=st[i]
    else:
        dup+=st[i]
    i+=1
print(st1)

salrtheg

In [19]:
#93 wap to count the occurence of a specfic character in a given string 
st='salaaRTHESAGA@28=09=2023'
d={}
i=0
while i<len(st):
    if st[i] not in d:
        d[st[i]]=1
    else:
        d[st[i]]+=1
    i+=1
print(d)

{'s': 1, 'a': 3, 'l': 1, 'R': 1, 'T': 1, 'H': 1, 'E': 1, 'S': 1, 'A': 2, 'G': 1, '@': 1, '2': 3, '8': 1, '=': 2, '0': 2, '9': 1, '3': 1}

In [26]:
#94 wap to count max occurence of a specific character in a given string
st2='salaarsaga'
d={}
i=0
while i<len(st2):
    if st2[i] not in d:
        d[st2[i]]=1
    else:
        d[st2[i]]+=1
    i+=1
print(d)
lis=list(d)
print(lis)
ch=''
oc=0
j=0
while j<len(lis):
    if d[lis[j]]>oc:
        oc=d[lis[j]]
        ch=lis[j]
    j+=1
print(ch,oc)

{'s': 2, 'a': 5, 'l': 1, 'r': 1, 'g': 1}
['s', 'a', 'l', 'r', 'g']
a 5

In [38]:
#95 wap to print min occurence of a specific character in a given string.
stg='salaarsaga'
# i=0
# d={}
# while i<len(stg):
#     if stg[i] not in d:
#         d[stg[i]]=1
#     else:
#         d[stg[i]]+=1
#     i+=1
# print(d)
# lis=list(d)
# print(lis)
# oc=len(lis)
# j=0
# ch=''
# while j<len(lis):
#     if d[lis[j]]<oc:
#         oc=d[lis[j]]
#         ch=lis[j]
#         print(ch)
#     j+=1

st='salaarthesaga'
i=0
st1=''
dup=''
while i<len(st):
    if st[i] not in st1:
        st1+=st[i]
    else:
        dup+=st[i]
    i+=1
print(st1)

salrtheg

In [40]:
#96 wap to count repeats of a specific character in a given string
st2='salaarsaga'
d={}
i=0
while i<len(st2):
    if st2[i] not in d:
        d[st2[i]]=1
    else:
        d[st2[i]]+=1
    i+=1
print(d)

{'s': 2, 'a': 5, 'l': 1, 'r': 1, 'g': 1}

In [41]:
#97 wap to print maximum repeated character in a given string
st2='salaarsaga'
d={}
i=0
while i<len(st2):
    if st2[i] not in d:
        d[st2[i]]=1
    else:
        d[st2[i]]+=1
    i+=1
print(d)
lis=list(d)
print(lis)
ch=''
oc=0
j=0
while j<len(lis):
    if d[lis[j]]>oc:
        oc=d[lis[j]]
        ch=lis[j]
    j+=1
print(ch,oc)

{'s': 2, 'a': 5, 'l': 1, 'r': 1, 'g': 1}
['s', 'a', 'l', 'r', 'g']
a 5

In [44]:
#98 wap to count the min repeated character in a given string.
st2='salaarsaga'
d={}
i=0
while i<len(st2):
    if st2[i] not in d:
        d[st2[i]]=1
    else:
        d[st2[i]]+=1
    i+=1
print(d)
lis=list(d)
j=0
small=0
while j<len(lis):
    if d[lis[j]]==1:
        print(lis[j],end=' ')
    j+=1

{'s': 2, 'a': 5, 'l': 1, 'r': 1, 'g': 1}
l r g

In [ ]:
#99 wap to replace specific character into new character

In [50]:
#100 wap to covert lowercase into uppercase in a given string 
st='salaar'
i=0
st1=''
while i<len(st):
    if 'a'<=st[i]<='z':
        st1+=chr(ord(st[i])-32)
    i+=1
print(st1)

SALAAR

In [51]:
#101 wap to convert uppercase into lowercase
st='VAHINI'
i=0
st1=''
while i<len(st):
    if 'A'<=st[i]<='Z':
        st1+=chr(ord(st[i])+32)
    i+=1
print(st1)

vahini

In [69]:
#102 wap to convert uppercase to lowercase in even postion characters in a given string
st='SALAaR1233@13'
i=0
j=1
res=''
while i<len(st) and j<=len(st):
    if 'A'<=st[i]<='Z' and j%2==0:
        res+=chr(ord(st[i])+32)
    i+=1
    j+=1
print(res)

aar

In [66]:
#103 wap to convert uppercase to lowercase in odd postion characters in a given string
st="SALAAR"
i=0
j=1
res=''
while i<len(st)and j<=len(st) :
    if 'A'<=st[i]<='Z' and j%2!=0:
        res+=chr(ord(st[i])+32)
    i+=1
    j+=1
print(res)

sla

In [79]:
#104 wap to covert uppercase letter to lowercase letter and lowercase letter to uppercase letter ,if the character is 
#special symbol replace with * for given input string
st='Aa!1#'
i=0
res=''
while i<len(st):
    if 'A'<=st[i]<='Z':
        res+=chr(ord(st[i])+32)
    elif 'a'<=st[i]<='z':
        res+=chr(ord(st[i])-32)
    elif '0'<=st[i]<='9':
        res+=st[i]
    else:
        res+='*'
    i+=1
print(res)

aA*1*

In [ ]:
#105 wap to convert title case in a given string
st='salaar cease'
if

In [12]:
#121 input: 'hello world 123 haii'
#op : eo o 123 aii
st='hello world 123 haii'
i=0
st1='aeiouAEIOU'
res=''
while i<len(st):
    if st[i] in st1 or '0'<=st[i]<='9' or not('A'<=st[i]<='Z' or'a'<=st[i]<='z' or '0'<=st[i]<='9'  ):
        res+=st[i]
    i+=1
print(res)

eo o 123 aii

In [13]:
#122 input: 'hello world 123 haii'
#op: eoo123aii
st='hello world 123 haii'
i=0
st1='aeiouAEIOU'
res=''
while i<len(st):
    if st[i] in st1 or '0'<=st[i]<='9':
        res+=st[i]
    i+=1
print(res)

eoo123aii

In [15]:
#123 input: 'hello world 123 haii'
#op 'eo o  aii'
st='hello world 123 haii'
i=0
st1='aeiouAEIOU'
res=''
while i<len(st):
    if st[i] in st1 or not('A'<=st[i]<='Z' or'a'<=st[i]<='z' or '0'<=st[i]<='9'  ):
        res+=st[i]
    i+=1
print(res)

eo o  aii

In [7]:
#124 'hello world 123 haii'
#op : 'hll world haii'

st='hello world 123 haii'
i=0
st1='aeiouAEIOU'
res=''
res1=''
while i<len(st):
    if st[i]!=' ':
        if st[i] not in st1:
            res+=st[i]
            pass
    else:
        if st[i]!=0:
            res+=st[i]
        elif not('A'<=st[i]<='Z' or 'a'<=st[i]<='z'):
            res1+=st[i]
        else:
            res+=st[i]
    i+=1
print(res)

hll wrld 123 h

In [27]:
#125 input : 'hello world op1: hll wrld  op2 : eoo
st='hello world'
i=0
res=''
res1=''
vowels='aeiouAEIOU' 
while i<len(st):
    if st[i] in vowels :
        res+=st[i]
    else:
        res1+=st[i]
    i+=1
print(f'{res} op1 and ',f'{res1} op2')

eoo op1 and  hll wrld op2

In [29]:
#126 input '12hello3 4world4'
#op1 'hll wrld' 
#op2 'eoo'
#op3 '12344'
st='12hello3 4world4'
i=0
vowel='aeiouAEIOU'
res=''
res1=''
res2=''
while i<len(st):
    if st[i] in vowel:
        res+=st[i]
    elif '0'<=st[i]<='9':
        res1+=st[i]
    else:
        res2+=st[i]
    i+=1
print(res)
print(res1)
print(res2)

eoo
12344
hll wrld

In [30]:
#127 input '(*12hello3$ $4#world4*)'
#op1 'hll wrld' 
#op2 'eoo'
#op3 '12344'
#op4 '(*$$#*)'
st='(*12hello3$ $4#world4*)'
i=0
res=''
res1=''
res2=''
res3=''
vowels='aeiouAEIOU' 
while i<len(st):
    if st[i] in vowel:
        res+=st[i]
    elif '0'<=st[i]<='9':
        res1+=st[i]
    elif not('a'<=st[i]<='z' or 'A'<=st[i]<='Z' or '0'<=st[i]<='9'):
        res2+=st[i]
    else:
        res3+=st[i]
    i+=1
print(res)
print(res1)
print(res2)
print(res3)

eoo
12344
(*$ $#*)
hllwrld

In [44]:
#128 input '(*12hello3$ $4#world4*)'
#output ')*#$ $*(,44321,ooe,dlrwllh'
st='(*12hello3$ $4#world4*)'
i=-1
vowel='aeiouAEIOU'
res=''
res1=''
res2=''
res3=''
while i>=-(len(st)):
    if not('a'<=st[i]<='z' or 'A'<=st[i]<='Z' or '0'<=st[i]<='9'):
        res+=st[i]
    elif '0'<=st[i]<='9':
        res1+=st[i]
    elif st[i] in vowel:
        res2+=st[i]
    else:
        res3+=st[i]
    i-=1
print(f'{res},{res1},{res2},{res3}')

)*#$ $*(,44321,ooe,dlrwllh

In [48]:
#129 input '(*12hello3$ $4#world4*)'
st='(*12hello3$ $4#world4*)'
i=0
vowel='aeiouAEIOU'
res=''
res1=''
res2=''
res3=''
while i<(len(st)):
    if not('a'<=st[i]<='z' or 'A'<=st[i]<='Z' or '0'<=st[i]<='9'):
        res+=st[i]
    elif '0'<=st[i]<='9':
        res1+=st[i]
    elif st[i] in vowel:
        res2+=st[i]
    else:
        res3+=st[i]
    i+=1
print(f'{res3},{res2},{res1},{res}')

hllwrld,eoo,12344,(*$ $#*)

In [49]:
#130 input '(*12hello3$ $4#world4*)'
    #output  hllwrld),*#$$*(',eoo,44321
st='(*12hello3$ $4#world4*)'
i=0
res=''
vowels='aeiouAEIOU'
while i<len(st):
    if st[i] in st:
        res+=st[i]
    elif st[::-1]

hllwrld,eoo,12344,(*$ $#*)